body {
  background-color: #303131;
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 0.9em;
  margin:0;
}

p {
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 0.9em;
}

a:link {
  color: #B3F5FF;
  text-decoration: none;
}

a:visited {
  color: #B3F5FF;
  text-decoration: none;
}

a:active {
  color: #B3F5FF;
  text-decoration: none;
}

a:hover {
  color: #F7FFB3;
  text-decoration: none;
}


textarea {
  background-color: #292929;
  border: 3px dashed #F7FFB3;
  color: #E3E3E3;
  font-family:sans-serif;
  float:left;
  text-align: left;
}

input[type=submit] {
  background-color: #F7FFB3;
  cursor: pointer;
  border-style:dotted;
  border-color: #B3F5FF;
  border-radius: 10px 40px;
  border-width: 4px;
  float:left;
  clear:left;
  color: #626273;
}

#main {
  transition: margin-left 0.5s;
}

.header .container {
  background-color: #383838;
  margin: 0;
  width: auto;
}

.articlefoot {
  background-color: #212121;
  margin: 0;
  width: 100%;
  position:fixed;
  bottom: 0;
}

.articlefoot a {
  float:right;
  height: 100px;
  display: inline-block;
  width:100px;
  font-family: sans-serif;
  text-align:center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #212121;
  border:none;
  outline:0;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  cursor:pointer;
  white-space:normal;
  font-size: 1.2em;
}

.footerbox:hover {
  background-color:#303030;
}

.topBar {
  color:#fff;
  background-color:#212121;
  }

.topButton {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  font-size:24px;
  }

.sideBar {
  height:100%;
  width:200px;
  background-color:#424242;
  position:fixed;
  overflow:auto;
}

.sideBarItem {
  width:100%;
  border:none;
  display:block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:left;
  cursor:pointer;
  white-space:normal;
  float:none;
  width:auto;
  font-size: 30px;
  font-family: sans-serif;
}

.sideBarItem:hover {
  background-color:#373737;
}

.barButton {
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  outline:none;
  white-space:normal;
  float:none;
  background-color: inherit;
  font-size:30px;
  font-family:sans-serif;
  color: #B3F5FF
}

.barButton:hover {
  background-color:#373737;
}


.container {
  padding:0.01em 16px;
}


.bodytext {
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 0.9em;
  padding: 16px 16px;
  width:500px;
}


.bodytext::first-letter {
  font-family:cursive;
  font-size: 2.5em;
}
